@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  margin: 0;
  position: relative;
}
body {
  background-color: #f4f7ff;
}
/* Navbar */
.navbar {
  /* position: fixed; */
  z-index: 1;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(151, 151, 151, 0.1);
  display: flex;
}
.navbar__container {
  display: flex !important;
  flex-direction: row !important;
}
.navbar__item {
  width: 30vw;
}
.navbar__center {
  display: flex;
  column-gap: 20px;
}
.navbar__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #373a42;
}
.navbar__title {
  display: flex;
  flex-direction: row;
  color: rgba(51, 102, 255, 1);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.navbar__title-detail {
  color: rgba(255, 61, 113, 1);
}
.navbar__logo {
  height: 30px;
  width: auto;
}
.navbar__button-signin {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;

  width: 150px;
  justify-content: center;
}
.navbar__button-signup {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;

  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(51, 102, 255, 0.15);
  border-radius: 10px;
  width: 150px;
  justify-content: center;
}

/* Main */
.main {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  padding: 10vh;
  margin: 10vh;
}
.main__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  position: relative;
}
.main__image {
  border-radius: 16px;
  height: 480px;
  width: 480px;
  object-fit: cover;
}
.main__right-side {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.main__sort {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fc1055;
  cursor: pointer;
}
.main__sort-logo {
  color: #3366ff;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(26, 60, 68, 0.08);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.main__section {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.main__section-image {
  width: 45px;
  height: 45px;
}
.main__section-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}
.main__section-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #373a42;
  width: 100%;
}
.main__section-price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
  text-align: right;
}
.main__section-seat {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #bdc0c4;
}
.main__section-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #bdc0c4;
  text-align: right;
}
.main__section-quantity {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #373a42;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main__section-counter {
  display: flex;
  flex-direction: row;
  text-align: right;
}
.main__value-counter {
  background: #ffffff;
  border: 1px solid #c1c5d0;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}
.main__value-counter:active {
  border: 1px solid #000000;
}
.main__value {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #373a42;

  text-align: center;
  padding-top: 5px;
  height: 30px;
  width: 30px;
}
.main__booking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main__booking-detail {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #373a42;
}
.main__booking-value {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #3366ff;
}
.main__button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;

  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 15px;
  width: 300px;
}

/* Footer */
.footer {
  background: #f4f7ff;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.footer__title--2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.footer__content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #c1c5d0;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .navbar {
    position: relative;
  }
  .main {
    border-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .main__image {
    border-radius: 16px;
    height: 90vw;
    width: 90vw;
    object-fit: cover;
  }
  .main__button {
    margin-bottom: 30px;
  }
  .main__section-detail {
    width: 50vw;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar {
    position: relative;
  }
  .main {
    border-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .main__image {
    border-radius: 16px;
    height: 50vw;
    width: 50vw;
    object-fit: cover;
  }
  .main__button {
    margin-bottom: 30px;
  }
  .main__section-detail {
    width: 50vw;
  }
}
