@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  margin: 0;
  position: relative;
}
body {
  background-color: #f4f7ff;
}
/* Navbar */
.navbar {
  /* position: fixed; */
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(151, 151, 151, 0.1);
  display: flex;
}
.navbar__container {
  display: flex !important;
  flex-direction: row !important;
}
.navbar__item {
  width: 30vw;
}
.navbar__center {
  display: flex;
  column-gap: 20px;
}
.navbar__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #373a42;
}
.navbar__title {
  display: flex;
  flex-direction: row;
  color: rgba(51, 102, 255, 1);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.navbar__title-detail {
  color: rgba(255, 61, 113, 1);
}
.navbar__logo {
  height: 30px;
  width: auto;
}
.navbar__button-signin {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;

  width: 150px;
  justify-content: center;
}
.navbar__button-signup {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;

  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(51, 102, 255, 0.15);
  border-radius: 10px;
  width: 150px;
  justify-content: center;
}

/* Main */
.main {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 30px;
  padding: 10vh;
  margin: 10vh;
}
.main__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.main__image {
  border-radius: 16px;
  height: 480px;
  width: 320px;
  object-fit: cover;
  position: absolute;
}
.main__image-container {
  height: 480px;
  width: 320px;
  position: relative;
}
.main__image-container::after {
  content: "";
  border-radius: 16px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0.8;
  background: url("../Assets/Vectors/filter.png");
  background-size: 100% 100%;
  display: inline;
}
.main__image-container:hover::after {
  opacity: 0;
}
.main__add-wishlist {
  position: relative;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.main__right-side {
  display: flex;
  flex-direction: column;
}
.main__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #373a42;
  width: 60%;
  word-wrap: break-word;
  margin-bottom: 20px;
}
.main__icon-detail-container {
  margin-bottom: 20px;
}
.main__icon {
  color: rgb(253, 0, 55);
  margin-right: 10px;
}
.main__icon-detail {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.main__attendees {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #373a42;
}
.main__attendees-image {
  margin-bottom: 30px;
}
.main__event-subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
  margin-bottom: 10px;
}
.main__event-desc {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(55, 58, 66, 0.75);
}
.main__read-more {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #3366ff;
  margin-bottom: 20px;
}
.main__maps {
  border-radius: 20px;
  margin-bottom: 30px;
  width: 300px;
}
.main__button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;

  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 15px;
  width: 300px;
  height: 100%;
}

/* Footer */
.footer {
  background: #f4f7ff;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.footer__title--2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.footer__content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #c1c5d0;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .navbar {
    position: relative;
  }
  .main {
    border-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .main__title {
    width: 100%;
  }
  .main__add-wishlist-text {
    display: none;
  }
  .main__button {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar {
    position: relative;
  }
  .main {
    border-radius: 0;
    padding: 10px;
    margin: 0;
  }
  .main__title {
    width: 100%;
  }
  .main__add-wishlist-text {
    display: none;
  }
  .main__button {
    margin-bottom: 30px;
  }
}
